.main-post {
  margin: 0.5em 0.5em 5em;
  background-color: white;
  border-radius: 1em;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.main-post img {
  width: 100%;
}

.img-info {
  /* position: relative; */
  padding: 1em;
}

.img-info div {
  display: block;
  justify-content: space-between;
}

.img-info h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.img-info .date {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 2em;
  /* align-self: center; */
}

.img-info > div {
  margin-bottom: 2em;
}

.main-post p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5em;
}

.img-info button {
  margin-top: 1em;
  width: 25%;
  font-size: 1.2rem;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border: none;
}

.like-btn {
  background-color: blue;
}

.like-btn:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

.unlike-btn {
  background-color: red;
}

.unlike-btn:hover {
  background-color: rgb(139, 64, 64);
}

.like-anim {
  background-image: url("../images/heart.png");
  background-size: cover;
  background-position: center;
  width: 5em;
  height: 5em;
  position: absolute;
  top: 65%;
  right: 40%;
  animation: trigger-like 1.5s forwards;
  opacity: 0;
}

@media (min-width: 900px) {
  .main-post {
    margin: 0.5em 10em 5em;
  }
}

@media (min-width: 1130px) {
  .main-post {
    margin: 0.5em 20em 5em;
  }
}

@keyframes trigger-like {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    width: 10em;
    height: 10em;
  }

  100% {
    opacity: 0;
  }
}
