/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App a {
  text-decoration: none;
}
.App h1 {
  text-align: center;
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(67, 79, 60);
}

.App p {
  text-align: center;
  margin: 0.5em 0 1em;
  font-weight: normal;
  color: grey;
  font-size: 1rem;
}

form,
.dateinfo,
.loading-state {
  margin: 1.5em 0.5em;
}

form .label {
  margin-bottom: 0.3em;
}

form #datepicker {
  margin-bottom: 0.3em;
}

.dateinfo h3,
.loading-state {
  font-weight: normal;
  color: rgb(2, 2, 115);
}

/* .loading-state {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
} */

form button {
  width: 5em;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1rem;
  background-color: rgb(78, 73, 73);
  border: none;
  cursor: pointer;
}

@media (min-width: 900px) {
  form,
  .dateinfo,
  .loading-state {
    margin: 1.5em 10em;
  }
}

@media (min-width: 1130px) {
  form,
  .dateinfo,
  .loading-state {
    margin: 1.5em 20em;
  }
}
